.grid {
    width: 80vh;
}
.grid4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0.5rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid8 {
    display: grid;
    grid-template-columns: repeat(8, minmax(0.5rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid10 {
    display: grid;
    grid-template-columns: repeat(10, minmax(1rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid20 {
    display: grid;
    grid-template-columns: repeat(20, minmax(0.5rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid50 {
    display: grid;
    grid-template-columns: repeat(50, minmax(0.2rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid100 {
    display: grid;
    grid-template-columns: repeat(100, minmax(0.1rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid > * {
    /*background: rgba(0,0,0,0.1);*/
    border: 1px black solid;
}

.dead {
    background: white;
}

.alive {
    background: rgba(0,0,0,0.5);
}
